<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head ng-controller="MetaCtrl as meta">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{meta.title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="3rd-party/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="3rd-party/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <header class="navbar navbar-inverse navbar-static-top" ng-controller="HeaderCtrl as header">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="header.toggleCollapse()">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-left" href="#">{{header.title}}</a>
          </div>
          <!-- Non-collapsed header for most sizes -->
          <nav class="hidden-xs">
            <ul class="nav navbar-nav navbar-right">
              <li ng-repeat="nav in header.simpleNavs">
                <a ng-href="{{nav.url}}">{{nav.title}}</a>
              </li>
              <li class="dropdown" ng-repeat="nav in header.dropNavs"> 
                <a href class="dropdown-toggle">
                    {{nav.title}}<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li ng-repeat="drop in nav.drops">
                    <a ng-href="{{drop.url}}">{{drop.title}}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <!-- Collapsing header with stacked navs for XS size-->
          <nav collapse="header.isCollapsed" style="height: 0px;" class="hidden-sm hidden-md hidden-lg">
            <ul class="nav navbar-nav">
              <li ng-repeat="nav in header.simpleNavs">
                <a ng-href="{{nav.url}}" ng-click="header.collapse()">{{nav.title}}</a>
              </li>
              <li class="dropdown" ng-repeat="nav in header.dropNavs"> 
                <a href class="dropdown-toggle">
                    {{nav.title}}<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li ng-repeat="drop in nav.drops">
                    <a ng-href="{{drop.url}}" ng-click="header.collapse()">{{drop.title}}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="well">
            <h2>Welcome to SportsStuff!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ullam dolorem temporibus repellendus assumenda illum ratione, eum sunt quia quae eos libero exercitationem nisi, accusamus, maxime labore. Culpa cumque nisi doloribus provident, aperiam. Unde voluptatibus eligendi, rerum non, ratione alias fugiat eius similique, nulla dolor perferendis ullam praesentium officia molestias voluptates necessitatibus facere velit. Fugit perspiciatis, quisquam, iusto eligendi blanditiis quia esse commodi sunt repudiandae itaque omnis veniam vel voluptates fugiat maiores debitis soluta optio nostrum odio aliquid quae ad! Eum aspernatur animi facere id beatae, vel vero velit quisquam aliquid, nisi! Consectetur itaque et harum voluptate deleniti officia, quia.
            </p>
          </div>
        </div>
        <div class="col-xs-6"><img src="http://lorempixel.com/640/640/sports/1" class="img-thumbnail img-responsive"></div>
      </div>
    </div>
    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--Load third-party scripts either via CDN or local copy-->
    <!-- CDN (for prod)
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>
      -->
    <!-- Local copy (for dev)-->
    <script src="3rd-party/jquery.js"></script>
    <script src="3rd-party/angular.js"></script>
    <script src="3rd-party/ui-bootstrap-tpls-0.11.0.js"></script>
    <!--Load custom scripts -->
    <script src="client.js"></script>
  </body>
</html>
